#map {
    position: relative;
    width: 99vw;
    height: 75vh;
    max-height: 1000px;
    margin: 0 auto;
    margin-bottom: 4em;
    opacity: 90%;
}
.welcome-div {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: black;
    color: white;
}
.leaflet-popup {
    background-color: black;
}
.leaflet-popup-content-wrapper {
    background-color: black;
}
.leaflet-popup-content {
    width: 14em; 
}

.welcome-image {
    width: 60%; 
}

@media (width <= 650px) {
    #map {
        height: 60vh;
    }
}